@import "tailwindcss";

:root {
  --bg-primary: #e8e8e8;
  /* --bg-secondary: #f8f9fd; */
  --bg-secondary: #c9c9c9;

  --txt-primary: #959593;
  --txt-secondary: #363636;

  --txt-contrast: #052659;

  --custom-blue: #3a66ed;
  --custom-red: #e51e1b;
  --custom-green: #2bab4a;

  --s-shadow-outside:
    rgba(255, 255, 255, 1) -8px -8px 8px, rgba(0, 0, 0, 0.2) 8px 8px 8px;
  --s-shadow-outside-small:
    rgba(255, 255, 255, 1) -3px -3px 6px, rgba(0, 0, 0, 0.2) 3px 3px 6px;
  --s-shadow-inside:
    inset rgba(0, 0, 0, 0.2) 2px 3px 6px,
    inset rgba(255, 255, 255, 1) -2px -3px 6px;
}

html.dark {
  --bg-primary: #1f1f1f;
  --bg-secondary: #151515;

  --txt-primary: #d1cfc0;
  --txt-secondary: #9e9c91;

  --txt-contrast: #a8d5ff;

  --custom-blue: #5a7fff;
  --custom-red: #ff4544;
  --custom-green: #4fd566;

  --s-shadow-outside: rgba(255, 255, 255, 0.1) 0px 0px 5px;
  --s-shadow-outside-small: rgba(255, 255, 255, 0.1) 0px 0px 5px;
  --s-shadow-inside: rgba(255, 255, 255, 0.1) 0px 0px 5px;
}

@theme inline {
  --color-primary: var(--bg-primary);
  --color-secondary: var(--bg-secondary);
  --color-custom-blue: var(--custom-blue);
  --color-custom-red: var(--custom-red);
  --color-custom-green: var(--custom-green);

  --color-txt-primary: var(--txt-primary);
  --color-txt-secondary: var(--txt-secondary);

  --color-txt-contrast: var(--txt-contrast);

  --radius-primary: var(--br-primary);
  --radius-secondary: var(--br-secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-outside: var(--s-shadow-outside);
  --shadow-outside-small: var(--s-shadow-outside-small);
  --shadow-inside: var(--s-shadow-inside);

  --breakpoint-xs: 480px;
}

body {
  background: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.shadow-button {
  box-shadow: rgba(0, 0, 0, 0.2) 6px 6px 8px;
}

html.dark .shadow-button {
  box-shadow: rgba(0, 0, 0, 0.6) 6px 6px 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
  /* box-shadow: rgba(0, 0, 0, 0.2) -6px 0px 8px; */
}

::-webkit-scrollbar-thumb {
  background: var(--txt-primary);
  border-radius: 10px;
  transition: background 0.2s ease;
}

::selection {
  background: var(--color-custom-blue);
  color: var(--color-primary);
}

.overflow {
  max-height: calc(4 / 6 * 100vh);
}
